---
import DefaultLayout from '../../layouts/default.astro'
import BasicHero from '../../components/BasicHero.astro'
import Container from '../../components/Container.astro'
import BeerMapper from '../../components/BeerMapper.tsx'
import Pagination from '../../components/Pagination.tsx'

const pagelimit = 30
const lim = Math.round(325 / pagelimit)

const { beers } = Astro.request.params

export async function getStaticPaths() {
  const paths = []

  for (let i = 1; i <= 11; i++) {
    paths.push({ params: { beers: i.toString() } })
  }

  return paths
}

const title = 'Beers'
const description = 'Browse the catalogue'

console.log(beers)
---

<DefaultLayout content={{ title, description }}>
  <BasicHero>
    <h1 class="display-2 fw-bolder text-white text-uppercase">Beers</h1>
    <p class="lead fw-normal text-white">Browse the catalogue</p>
  </BasicHero>

  <Container>
    <BeerMapper page={beers} limit={pagelimit} client:only />

    <Pagination page={parseInt(beers)} upperlimit={lim} client:idle />
  </Container>
</DefaultLayout>
