---
import DefaultLayout from '../layouts/default.astro'
import Container from '../components/Container.astro'
import BasicHero from '../components/BasicHero.astro'
import MapSection from '../components/MapSection.astro'

const title = 'About'
const description = 'What is it all about?'
---

<DefaultLayout content={{ title, description }}>
  <BasicHero>
    <h1 class="display-2 fw-bolder text-white text-uppercase">About</h1>
    <p class="lead fw-normal text-white">What is it all about?</p>
  </BasicHero>

  <Container>
    <div class="row text-white justify-content-center">
      <div class="col-8 my-5">
        <div class="text-center m-3">
          <h2 class="fw-bolder">About Brewdog</h2>
        </div>
        <p>
          Brewdog is a brewery based in London, UK. We are a small, family-owned
          brewery with a focus on craft beer. We are proud to be a part of the
          London craft beer scene and we are always looking for new and exciting
          collaborations.
        </p>
      </div>
    </div>

    <div class="row text-white justify-content-center">
      <div class="col-8 my-5">
        <div class="text-center m-3">
          <h2 class="fw-bolder">Our Story</h2>
        </div>
        <p>
          Brewdog was founded in 2013 by a group of friends who wanted to create
          something special. We started with a simple idea of creating a beer
          company that would be able to offer a unique experience to our
          customers.
        </p>
      </div>
    </div>
  </Container>

  <MapSection />
</DefaultLayout>
