---
import BaseHead from '../components/BaseHead.astro';
---


<html lang="en">
<head>
    <BaseHead {1} {2} {3} />
</head>
<body>
	<main>
		<header>
			<div>
				<img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
				<h1><a href="https://astro.build/">Astro</a></h1>
			</div>
		</header>

		<a href="/">home</a>
	</main>
</body>
</html>