---
import DefaultLayout from '../layouts/default.astro'
import BasicHero from '../components/BasicHero.astro'
import Container from '../components/Container.astro'
import BeerMapper from '../components/BeerMapper.tsx'

const pagelimit = 30
const lim = Math.round(325 / pagelimit)

const title = 'Beers'
const description = ''

const pages = () => {
  const pages = []
  for (let i = 1; i <= lim; i++) {
    pages.push(i)
  }
  return pages
}
---

<DefaultLayout content={{ title, description }}>
  <BasicHero>
    <h1 class="display-2 fw-bolder text-white text-uppercase">Beers</h1>
    <p class="lead fw-normal text-white">Browse the catalogue</p>
  </BasicHero>

  <Container>
    <BeerMapper page={1} limit={pagelimit} client:load />
  </Container>
</DefaultLayout>
