---
// Component Imports
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import DefaultLayout from '../layouts/default.astro'
import BeerMapper from '../components/BeerMapper.tsx'

const title = 'Frontpage'
const description = ''
---

<DefaultLayout content={{ title, description }}>
  <Hero />

  <Section />

  <div style="height: 200px;"></div>

  <BeerMapper client:visible />
</DefaultLayout>
