---
// Component Imports
import Hero from '../components/Hero.astro'
import Container from '../components/Container.astro'
import Section from '../components/Section.astro'
import DefaultLayout from '../layouts/default.astro'
import BeerMapper from '../components/BeerMapper.tsx'

const title = 'Home'
const description = 'DIY DOG by BrewDog'
---

<DefaultLayout content={{ title, description }}>
  <Hero />

  <Section>
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/assets/can.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 text-start">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-white">
        The recipe for every single beer <span class="text-warning"
          >Brewdog</span
        > has ever made
      </h1>
      <p class="lead text-white">
        Brewdog wanted to do something different with DIY Dog while also paying
        homage to their homebrewing roots. They wanted to give away all of their
        recipes, every single one, for free to the incredible global
        home-brewing community. The recipe packs were created according to the
        DIY Dog recipe's specifications.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/beers">
          <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
            Browse
          </button>
        </a>
        <a href="/about">
          <button type="button" class="btn btn-light btn-lg px-4">
            About BrewDog
          </button>
        </a>
      </div>
    </div>
  </Section>

  <Container>
    <div class="row">
      <div class="col text-center">
        <h2 class="text-white display-5 fw-bold ">
          Sneak peek to the <span class="text-primary"> catalogue</span>
        </h2>
      </div>
    </div>

    <BeerMapper page={10} limit={3} client:visible />
  </Container>
</DefaultLayout>
