---
// Component Imports
// You can import components from any supported Framework here!
import '@fortawesome/fontawesome-free/js/all.js';
import BeerMapper from '../components/BeerMapper.tsx'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'

const title = 'My Astro Site'
const api_url = 'https://api.punkapi.com/v2/beers'
const random_url = 'https://api.punkapi.com/v2/beers/random'

/*
const response = await fetch(random_url)
const data = await response.json()
console.log(data)
*/
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
	<BaseHead title={title} {2} {3} />
  </head>
  <body>
    <main class="">
      <header class="text-center w-100" style="height: 400px;">
        <div>
          <h1><a href="https://astro.build/">Astro</a></h1>
          <a href="/beer" class="mb-5">Beers</a>
        </div>
      </header>

      <BeerMapper client:visible />

	  <Footer />
    </main>
  </body>
</html>
