<div class=" pt-3 pb-3 bg-warning">
  <div
    class="position-relative overflow-hidden p-3 p-md-5 ms-md-3 me-md-3 text-center bg-dark bg-img"
  >
    <div class="col-md-10 col-lg-10 p-lg-5 mx-auto my-2 layer">
      <div class="text-center">
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/assets/shelf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
</style>
