<div class=" pt-3 pb-3 bg-warning">
  <div class="position-relative overflow-hidden p-3 p-md-5 ms-md-3 me-md-3 text-center bg-dark bg-img">
    <div class="col-md-5 col-lg-5 p-lg-5 mx-auto my-2 layer">
      <div class="text-center">
        <h1 class="display-2 fw-bolder text-white text-uppercase">
          <slot />
        </h1>
      </div>
    </div>
  </div>
</div>
