<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-facebook"></i></a
      >

      <!-- Twitter -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-twitter"></i></a
      >

      <!-- Google -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-google"></i></a
      >

      <!-- Instagram -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-instagram"></i></a
      >

      <!-- Linkedin -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-linkedin"></i></a
      >

      <!-- Github -->
      <a
        class="btn btn-outline-warning btn-floating m-1"
        href="#!"
        role="button"><i class="bi-github"></i></a
      >
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        This project is made as a project work for a course. The data is
        provided by <a href="https://punkapi.com/">PUNK API V2</a>. Images are
        taken from <a href="https://unsplash.com/">Unsplash</a>.
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright: <a href="https://www.brewdog.com/uk">BrewDog</a>
  </div>
  <!-- Copyright -->
</footer>
