<div class="bg pt-3 pb-3 bg-warning">
  <div
    class="position-relative overflow-hidden p-3 p-md-5 ms-md-3 me-md-3 text-center bg-dark bg-img"
  >
    <div class="col-md-5 col-lg-5 p-lg-5 mx-auto my-5 layer">
      <h1 class="display-2 fw-normal text-white text-uppercase">
        Diy Dog<br />
      </h1>
      <p class="lead fw-normal text-white">
        The Brewdog back catalogue, 400+ Recipes, continually updated by
        BrewDog.
      </p>
      <a class="btn btn-warning m-1" href="#">BrewDog</a>
      <a class="btn btn-light m-1" href="#">Diy Dog</a>
    </div>
  </div>
</div>

<style>
  .bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/assets/barrel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
</style>
