---
import MapComponent from './MapComponent.jsx'
---

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <MapComponent client:load />
        </div>
        <div class="col-lg-6 text-start">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-white">
            This is where <span class="text-warning">Brewdog</span> can be found
          </h1>
          <p class="lead text-white">
            We are located in the heart of the city of London, just a short walk
            from the Tate Modern and the London Eye.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  svg {
    display: inline-block;
    vertical-align: middle;
  }
</style>
