<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 me-lg-5 mb-lg-0 text-white text-decoration-none text-uppercase title"
        ><h2>Diy Dog</h2>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/beers" class="nav-link px-2 text-white">Beers</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a
          href="https://brewdogmedia.s3.eu-west-2.amazonaws.com/docs/2019+DIY+DOG+-+V8.pdf"
          target="_blank"
        >
          <button type="button" class="btn btn-warning fw-boler"
            >Diy Dog as PDF <i class="bi bi-box-arrow-up-right"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>

<style>
  .title h2 {
    font-weight: 700;
  }
</style>
