---
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
---
<html lang="en">
<head>
    <BaseHead {1} {2} {3} />
</head>
<body>

    <Footer />
</body>
</html>